<!DOCTYPE html>
<html lang="zh-CN">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>我是MBP</title>
        <base href="/iammbp/"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon">

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Application CSS -->
        <link href="css/app.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body ng-app="mbpApp" ng-controller="mainController">

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <a href="#/"  ng-click="pageName = '首页'">
                    <img class="logo" src="resources/images/logo.png">
                </a>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <span>
                            {{pageName}}
                        </span>
                    </li>
                    <li ng-click="pageName = '关于MBP'">
                        <a href="#/about">关于MBP</a>
                    </li>
                    <li ng-click="pageName = '足球学院'">
                        <a href="#/academy">足球学院</a>
                    </li>
                    <li ng-click="pageName = '教练学校'">
                        <a href="#/coach">教练学校</a>
                    </li>
                    <li ng-click="pageName = '参考案例'">
                        <a href="#/cases">参考案例</a>
                    </li>
                    <li ng-click="pageName = '联系我们'">
                        <a href="#/contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            
            <!--            <nav class="navbar navbar-inverse navbar-static-top">
                            <div class="container">
                            </div>
                        </nav>-->
        
            <div id="page-content-wrapper">
                <div class="container-fluid">
                 
                    <div class="row">
<!--                        <div class="col-lg-6 col-xs-6 col-md-6 app-header">
                        </div>-->
                    </div>
                    <div class="row" ng-view>

                    </div>
                </div>
            </div>

        </div>
        <!-- /#wrapper -->

        <!-- footer -->
        <footer class="footer" role="contentinfo">
            <div class="container">
                <ul>
                    <li ng-click="pageName = '首页'">
                        <a href="#/home">首页</a>
                    </li>
                    <li>·</li>
                    <li ng-click="pageName = '关于MBP'">
                        <a href="#/about/">关于MBP</a>
                    </li>
                    <li>·</li>
                    <li ng-click="pageName = '足球学院'">
                        <a href="#/academy">足球学院</a>
                    </li>
                    <li>·</li>
                    <li ng-click="pageName = '教练学校'">
                        <a href="#/coach">教练学校</a>
                    </li>
                    <li>·</li>
                    <li ng-click="pageName = '参考案例'">
                        <a href="#/cases">参考案例</a>
                    </li>
                    <li>·</li>
                    <li ng-click="pageName = '联系我们'">
                        <a href="#/contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <b>© 2015 iammbp.</b>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Angular -->
        <script src="js/angular.js"></script>
        <script src="js/angular-route.js"></script>

        <script src="app.js"></script>
        <!--        <script src="view1/view1.js"></script>
                <script src="view2/view2.js"></script>-->

        <script>

        </script>

    </body>

</html>
