<div class="col-lg-12">
    <h1 class="page-header">关于 MBP</h1>
    <div class="col-md-6">
        <p>
            20多年前，一群大学的研究人员和职业足球教练为了研究发展一种互动式的足球训练方法，创建了一个研究网络。此种方法既适用于学习阶段，又适用于技术增强阶段。
        </p>
<!--        <p>
            这些方法的最大优点是在于我们能部不同的科学关联起来，使它们共同为足球服务,并且有效地把它们转化为实践，不仅仅是传递信息，而是找出有用的、过滤掉无用的信息，使各个学科的知识能有效的为足球服务。
        </p>-->
        <p>
            两年以后，从2009年至今，Alberto Rudé（Vic大学）继续使用这个方法，并把该方法带入Sport Networking集团，并给该项目取了一个名副其实的名称：MBP（Making Better Players）—— 培养更好的球员。
        </p>
        <p>
            MBP想法（创造更好的球员）是源于我们生活和工作中的发现，通过我们在足球教练和职业球员领域中的经验，和多次的国际访问，我们发现对于高质量足球课程的需求。
        </p>
        <p>
            因此巴塞罗那体育网络公司组创建了mbp这个品牌，给他们这样一个名字，我们就是用这样的方式来训练我们的球员的。我们需要一个代表我们公司本质的强大品牌，从而强调我们的最终方向是打造最棒的的球员。
        </p>
    </div>
    <div class="col-md-6">
        <a href="javascript:void(0)">
            <img src="resources/images/fondoyoumapa2.jpg" class="img-responsive"/>
        </a>
    </div>

</div>