<div class="col-lg-12">
    <h1 class="page-header">足球学院</h1>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object media-logo" src="resources/images/academy1.png" >
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">学院概述</h2>
            <p class="lead">
                MBP足球学院是我们的骄傲，也是我们最大的满足。我们团队这么多年辛勤工作，专注于足球这项伟大的体育运动，这也是对我们最大的回报。
            </p>
            <p>
                我们可以把MBP的教学方法提供给任何的学校或者俱乐部，以使他们能够有机会在日常的训练中进行实践，并且能够得到我们的专业支持以及跟踪。所有的MBP学院遵循相同的教育理念，使用相同的教学方式并朝着同一个目标努力－培养更好的足球运动员。
            </p>
            <p>
                MBP学院会结合我们所倡导的价值观和以神奇三角概念为核心的教学理念，来制定每月的培训课程及教学内容。相应地我们也会提供一个在线的互动社交平台，MBP的所有成员，包括：球员、教练员、家长、技术人员，可以在这个社区里面相互交流、学习，把足球文化根植于我们的日常生活当中。
            </p>
            <p>
                针对足球运动员成长的4个不同阶段, 足球学校只需要专注于其中的前三个阶段: <mark>即年龄从4岁到18岁的三个阶段。</mark>
            </p>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                球员阶段
                            </th>
                            <th>
                                启蒙阶段
                            </th> 
                            <th>
                                成型阶段
                            </th>
                            <th>
                                成长阶段
                            </th>
                            <th>
                                成才阶段
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                球员年龄
                            </th>
                            <td>
                                4-5岁
                            </td>
                            <td>
                                6-12岁
                            </td>
                            <td>
                                12-18岁
                            </td>
                            <td>
                                19岁以上
                            </td>
                        </tr>
                        <tr>
                            <th>
                                期望目标
                            </th>
                            <td>
                                多方位的足球兴趣开发

                            </td>
                            <td>
                                足球能力的培养
                                足球场景的学习

                            </td>
                            <td>
                                技术能力的提高
                                战术能力的提高
                                身体素质的提高

                            </td>
                            <td>
                                消除能力的短板
                                提高比赛中的运转效率

                            </td>
                        </tr>
                        <tr>
                            <th>
                                工作重点
                            </th>
                            <td>
                                多科目的娱乐足球

                            </td>
                            <td>
                                个人基本足球素养
                            </td>
                            <td>
                                个人基本足球角色——根据球员在球场上的位置而制定

                            </td>
                            <td>
                                团队足球素养
                            </td>
                        </tr>
                        <tr>
                            <th>
                                训练比例
                            </th>
                            <td>
                                95% 个人/ 5% 团队
                            </td>
                            <td>
                                85% 个人/ 15% 团队
                            </td>
                            <td>
                                50% 个人/ 50% 团队
                            </td>
                            <td>
                                25% 个人/ 75% 团队
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object media-logo" src="resources/images/academy2.png" >
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">特训营</h2>
            <p class="lead">
                这是MBP学院卓越的服务，也是我们的骄傲。我们所有的MBP教练员对年轻球员发展的专家，感谢他们的教育和一些世界上最好的学术经验。
            </p>
            <p>
                MBP特训营会给学员提供一个完整的经验，而且也是关于足球这项体育运动的全方位体验。因为在MBP特训营里，我们最专业的培训人员除了能够帮助学员们提高他们特定的技战术能力，而且也能够使学员们享受到足球运动员完整的生活经验。
            </p>
            <p>
                来自巴塞罗那的足球教练会提供一种全新的培训方式，与此同时学员们会接触到许多有意思的足球伙伴，这样的特训营能够帮助培养他们正确的价值观，人生观，并且能够受用终生。全球已经有超过10个国家的学员体验过了MBP特训营。
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object media-logo" src="resources/images/academy2.png" >
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">教学方式</h2>
            <p class="lead">启蒙阶段 (4-5 岁)</p>
            <div>
                <p>
                    我们可以用以下这些话来概括在这一培训阶段我们所倡导的教学方式
                </p>
                <ul>
                    <li>
                        儿童不应该成为成人的缩影。
                    </li>
                    <li>
                        球员将会通过游戏的方式被开发。
                    </li>
                    <li>
                        全方位的动因驱动教学模式, 通过潜移默化的方式进行植入型的教学。
                    </li>
                    <li>
                        单边训练模式(采用优势半球理论).
                    </li>
                    <li>
                        我们会使用横向学习系统。
                    </li>
                    <li>
                        我们会避免过早的专业化。
                    </li>
                </ul>
                <p>
                    演练，训练课的主要部分中，分为四个不同的工作方式：
                </p>
                <ul>
                    <li>
                        持球及无球状态的跑动。
                    </li>
                    <li>
                        持球及无球状态的普通游戏。
                    </li>
                    <li>
                        特定的游戏, 通过潜移默化的方式进行植入型的教学。
                    </li>
                    <li>
                        CHUNKS (消除紧张情绪的碎片化场景教学).
                    </li>
                </ul>
                <p>
                    每周我们会安排两次训练课程,每次课程时长为60至90分钟.
                    每次 <strong>训练课程</strong> 都会安排成3个部分：
                </p>
                <ul>
                    <li>
                        热身
                    </li>
                    <li>
                        主体训练
                    </li>
                    <li>
                        放松训练
                    </li>
                </ul>

            </div>

            <p class="lead">成型阶段(6-12 岁)</p>
            <div>
                <p>
                    <strong>教学原则</strong> 决定了一所学校的办学理念以及日常的教学工作。所以面向这一阶段的学员，我们的主张是:
                </p>
                <ul>
                    <li>
                        游戏适应孩子(而不是孩子适应游戏)
                    </li>
                    <li>
                        把训练科目分为运动学以及游戏理论学两种概念
                    </li>
                    <li>
                        学员的学习开发主要是学习以团队为导向的个人基本足球素养
                    </li>
                    <li>
                        主观动因是学习的主要驱动力
                    </li>
                </ul>
                <p>
                    教学和学习的基本理论构成,可总结为以下内容：
                </p>
                <ul>
                    <li>
                        全局方法论
                    </li>
                    <li>
                        可持续发展的视野
                    </li>
                    <li>
                        认知主义的学习
                    </li>
                    <li>
                        解决问题及培养探索能力的教学理论
                    </li>
                </ul>
                <p>
                    跟主要训练课程相关的 <strong>教学策略</strong> 及 <strong>培训演练</strong> 可分成以下三种形式的工作:
                </p>
                <ul>
                    <li>
                        区域位置培养训练
                    </li>
                    <li>
                        进攻及防守训练
                    </li>
                    <li>
                        特定情况下的实战演练
                    </li>                        
                </ul>
                <p>
                    每周我们会安排三次训练课程. 每次训练课程可分为五个部分:
                </p>
                <ul>
                    <li>
                        理论
                    </li>
                    <li>
                        热身
                    </li>
                    <li>
                        主体训练
                    </li> 
                    <li>
                        放松训练
                    </li> 
                    <li>
                        训练反馈
                    </li>
                </ul>
            </div>
            <p class="lead">
                成长阶段 (13-18 岁)
            </p>
            <div>
                <p>
                    在这个阶段，球员需要开始专业化训练他们在球场上的具体位置。而且他们需要逐步建立起专业化的认知，具体内容包含以下几方面：
                </p>
                <ul>
                    <li>
                        根据球员的基础能力、足球认知、性格等，选择最适合他们的位置。
                    </li>
                    <li>
                        在日常的训练中，根据球场上每个位置的要求，专注于发掘和认识每名球员所适合的最佳位置，并进行相应的调整。
                    </li>
                </ul>
                <p>
                    教学和学习的基本理论构成,可总结为以下内容：
                </p>
                <ul>
                    <li>
                        集成化的基准教学方式
                    </li>
                    <li>
                        自我判断方式的开发
                    </li>
                    <li>
                        从主观认知中学习(全方位的自我规范化进程)
                    </li>
                    <li>
                        通过系统性的训练方式进行教学
                    </li>
                </ul>
                <p>
                    跟主要训练课程相关的 教学策略 及 培训演练 可分成以下三种形式的工作:
                </p>
                <ul>
                    <li>
                        实用性的游戏
                    </li>
                    <li>
                        综合攻防转换训练
                    </li>
                    <li>
                        球员偏好位置的模拟场景演练，联动性质或者区域性质
                    </li>
                </ul>
                <p>
                    每周我们会安排三到四次训练课程. 每次训练课程可分为六个部分:
                </p>
                <ul>
                    <li>
                        课程讲解
                    </li>
                    <li>
                        热身
                    </li>
                    <li>
                        主体训练基础分支
                    </li>
                    <li>
                        主体训练
                    </li>
                    <li>
                        放松训练
                    </li>
                    <li>
                        训练反馈
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object media-logo" src="resources/images/academy2.png" >
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">训练计划</h2>
            <p class="lead">启蒙阶段（4-5岁）</p>
            <div>
                <p>在这个阶段, 我们主要使用3部分模块：</p>
                <dl class="dl-horizontal" >
                    <dt>模块1</dt>
                    <dd>足球意识开发</dd>
                    <dt>模块2</dt>
                    <dd>潜移默化形式的全方位开发</dd>
                    <dt>模块3</dt>
                    <dd>足球逻辑的自发性理解</dd>
                </dl>
                <p>
                    这些模块基本上是通过以下方式进行执行：<strong>整编队列游戏，多重变化的带球跑动及碎片化游戏场景</strong>
                </p>
            </div>
            <p class="lead">成型阶段 (6-12 岁)</p>
            <div>
                <p>该阶段的年度性训练计划主要基于三个模块的内容, 以及相对应的每个模块下面有12个子模块（总共36个子模块），另外每个字模块还包含了4个训练概念（总共144个概念）。</p>
                <dl class="dl-horizontal" >
                    <dt>模块1</dt>
                    <dd>技术内容</dd>
                    <dt>模块2</dt>
                    <dd>战术内容</dd>
                    <dt>模块3</dt>
                    <dd>团队训练内容</dd>
                </dl>
                <p>
                    模块1和模块2相对应地是针对球员个人技战术能力的训练，而模块3则是针对球员在一个团队中所扮演角色的训练。针对这个阶段的球员，我们特别补充了两个模块, 每名球员都有量身定制的训练内容。
                </p>
                <dl class="dl-horizontal" >
                    <dt>模块C</dt>
                    <dd>基础以及特定的协作</dd>
                    <dt>模块P</dt>
                    <dd>球场空间的感知以及管理</dd>
                </dl>
                <p>这两个模块主要在每次训练课程的热身阶段进行。</p>
            </div>
            <p class="lead">成长阶段 (13-18 岁)</p>
            <div>
                <p>这个阶段的年度性训练计划会由三个主要训练模块组成。第一个模块包含所有前一阶段（成型阶段）的训练内容，第二个模块帮助球员找到最适合的位置，第三个模块主要面向团队训练。</p>
                <dl class="dl-horizontal" >
                    <dt>模块1</dt>
                    <dd>可执行内容</dd>
                    <dt>模块2</dt>
                    <dd>个人基本位置</dd>
                    <dt>模块3</dt>
                    <dd>团队基本演练，联动性质或区域性质</dd>
                </dl>
                <p>
                    所有模块都是相互衔接的，最终目的都是为了帮助球员在团队性的系统训练中加深理解，更好地执行训练中的技战术要点。
                    除了以上三个训练模块，我们另外补充了三个额外的训练模块，来帮助球员优化以及加强这一阶段的训练效果。
                </p>
                <dl class="dl-horizontal" >
                    <dt>模块AA</dt>
                    <dd>自我观察及自我评估</dd>
                    <dt>模块HMC</dt>
                    <dd>自我认知能力</dd>
                    <dt>模块PF</dt>
                    <dd>身体机能调节</dd>
                </dl>
                <p>
                    在这里，第一模块和第二模块在训练课程中的课程讲解及训练反馈过程中进行执行。第三模块在主要在热身阶段及基础训练过程中执行，同时也可以在主体训练中依实际情况进行适度执行。
                    我们同时也为守门员设计了三个特定的训练模块，这三个训练模块同时也涵盖了特定的精神属性方面的训练内容，这些内容会在守门员单独训练以及团队训练的过程中体现。
                </p>
                <dl class="dl-horizontal" >
                    <dt>模块G3</dt>
                    <dd>高级技术内容</dd>
                    <dt>模块G4</dt>
                    <dd>高级战术内容</dd>
                    <dt>模块PF</dt>
                    <dd>身体机能调节</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object media-logo" src="resources/images/academy2.png" >
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">球员评估</h2>
            <p class="lead">启蒙阶段（4-5岁）</p>
            <p>
                这个阶段是孩子们在体育运动方面的第一次探索，在他们进行这次探索之前，任何的预估以及测试分析都是没有太多意义的，但是在他们完成启蒙阶段的这些训练后，一份详尽的评估报告能够给球员在后续的发展中带来非常有意思的帮助。
                这一阶段的球员分析会在不同的模块中进行，每一模块球员都会得到一份报告。这份报告会包含每名球员在每一模块中所能够达到的训练程度，并以此作为其是否能够晋升下一阶段的主要依据
            </p>
            <p class="lead">成型阶段 (6-12 岁)</p>
            <p>
                这一阶段，我们会进行前后两次测试，并生成两份评报告。报告1将会在阶段训练前期生成，用于判断球员在这一时期较为适合的位置。报告2将会在阶段训练后期生成，用于判断球员通过阶段性训练之后，以及相应调整之后，相对固定的场上位置。当然，报告也会基于每一个个体在个人训练及团队训练中的效果而定。
                针对个人方面，我们会给每名球员生成一份个人的评估报告。针对团队方面，我们会给每个团队生成一份评估报告，用来显示每个团队的薄弱之处，以及他们在每个训练目标上面所能达到的程度。
                这样的评估会帮助我们采纳合适的教学方式来帮助不同水平的团队提高，这样的方式是能够保证效率以及训练的有效性。
            </p>
            <p class="lead">成长阶段 (13-18 岁)</p>
            <p>
                在这个阶段，我们会采用全方位的专业评估方式，每月都会针对每名球员在个人及团队两方面的表现进行评估，然后生成月度评估报告。
                针对个人方面，我们同时也会判断球员在以下方面的发展水平：足球认知，团队协作，局面掌控，社交能力。
                针对团队方面，我们也会判断整个团队在整体沟通方面的水准。
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object media-logo" src="resources/images/academy3.png" >
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">个性化社交</h2>
            <p class="lead">
                在线365天
            </p>
            <p>
                我们的所有成员都可以登录我们的线上平台，用来进行互动、交流、学习，以此作为我们所有成员的社交平台。
                在这个平台里，你会找到所有相关的训练素材、图片、训练指南、视屏等。
            </p>
        </div>
    </div>
</div>