<div class="col-lg-12">
    <h1 class="page-header">参考案例</h1>
    <h2>球员</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption player">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" >
                <div class="caption player" style="background-position: 340px 10px">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4"  >
            <div class="thumbnail">
                <div class="caption player" style="background-position: 690px 10px">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="padding-left: 60px">
                <div class="caption player" style="background-position: 10px 320px">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" >
                <div class="caption player" style="background-position: 340px 320px">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4"  >
            <div class="thumbnail">
                <div class="caption player" style="background-position: 690px 320px">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>俱乐部</h2>
        <div class="col-sm-2 col-md-1"  ng-repeat="i in []|range:26" style="display:none">
            <div class="thumbnail clubes">
                <img ng-src="resources/images/clubes/escudo{{$index + 1}}.jpg"class="img-responsive img-rounded"/>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
                <img src="resources/images/allclubs.png" class="img-responsive img-rounded"/>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>教练</h2>
        <div class="col-sm-2 col-md-4"  ng-repeat="i in []|range:5">
            <div class="thumbnail">
                <img ng-src="resources/images/coaches/coach{{$index + 1}}.png"class="img-responsive img-rounded"/>
                <div class="caption">
                    <h3 class="text-center"> 教练{{$index + 1}}</h3>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <h2>媒体</h2>
        <div class="col-sm-4 col-md-4"  ng-repeat="i in []|range:3">
            <div class="thumbnail">
                <img ng-src="resources/images/medias/media{{$index + 1}}.png"class="img-responsive img-rounded"/>
                <div class="caption">
                </div>
            </div>
        </div>
    </div>
</div>