<div class="col-lg-12">
    <h1 class="page-header">教练学院</h1>
    <div class="media">
        <div class="media-left">
            <a href="javascript:void(0)">
                <img class="media-object media-logo" src="resources/images/coach1.png" style="width:10vw" >
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">教学理念</h2>
            <p class="lead">
                足球理念一脉相承，足球文化清晰明了，足球教学高质量。
            </p>
            <p>
                我们知识体系的一致性使得我们的教练员清楚地了解组成足球的所有结构，以确保每一个在我们教练学院接受培训的教练员能够接受我们培训的最高质量。
            </p>
            <p>
                这种全面的和综合的教学转变将使教练员能够进入人类学习的最重要的一个阶段，知识的可用性在这个过程会是非常必要地。总之，在与我们合作之后，教练们不知道他们已经知道这么多内容，并且当他们参与到日常的足球教学以及足球比赛时，他们将会如鱼得水，能够非常得心应手的应对所有的挑战。
            </p>

            <p>
                MBP教练学院还设有R+D+i部门，
                他们的工作就是每天开发新的教学方式及教学内容，
                以便于不断提高和改良其教学体系。
            </p>

        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="javascript:void(0)">
                <img class="media-object media-logo" src="resources/images/coach3.png" style="width:10vw" >
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">研讨会&主题讲座</h2>
            <p class="lead">
                MBP教练学院有意把MBP的核心内容传递给全球的教练员，通过举办专业性的研讨会及论坛，能够在短时间内向他们传递MBP的足球理念。
            </p>
            <p>
                所有的活动安排是针对学员的特定需求，并且根据他们的最终目标而进行量身定制的。根据学院所处的不同等级及工作领域，MBP教练学院会举办广泛的研讨
                会和主题讲座。包含以下：
            </p>
            <ul>
                <li>
                    教学内容的规划和编写
                </li>
                <li>
                    培训方式
                </li>
                <li>
                    身体物理调节
                </li>
                <li>
                    比赛分析
                </li>
                <li>
                    精神及情绪训练
                </li>
            </ul>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="javascript:void(0)">
                <img class="media-object media-logo" src="resources/images/coach2.png" style="width:10vw" >
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">足球专业硕士</h2>
            <p class="lead">
                足球专业硕士是主动式的，浸入式的学习，其主要目标是成为一个所有教学领域的MBP教学专家。
            </p>
            <p>该课程是为了让专业的足球教练员能够从本质上了解足球这项运动，并且能够从各个角度去深入理解该项运动的组成结构。
                除此之外，他们能够学到一种全球范围内都罕见的培训足球学院的训练方式，它给我们的国家带来不计其数的荣誉。
            </p>
            <dl class="list-inline">
                <dt style="padding-left: 1vw;">课程信息</dt>
                <dd>
                    <dl class="dl-horizontal">
                        <dt>授课人数</dt>
                        <dd>(4-5 人)</dd>

                        <dt>总学时</dt>
                        <dd>350学时</dd>

                        <dt>学期跨度</dt>
                        <dd>16 周</dd>

                        <dt>地点</dt>
                        <dd>巴塞罗那</dd>

                        <dt>教学内容</dt>
                        <dd>教学内容的规划，训练方式，身体物理调节，比赛分析，精神及情绪训练</dd>

                        <dt>其他教学活动</dt>
                        <dd>专业球队现场比赛的赛事分析，专业队现场训练的训练分析</dd>
                    </dl>
                </dd>
            </dl>

        </div>
    </div>
</div>