<div class="col-lg-12">
    <h1 class="page-header">联系我们</h1>
    <div class="row">
        <div class="col-sm-12 col-md-6 contact-address">
            <address>
                <strong>IMMBP, Inc.</strong><br>
                Paseo de Gracia 78, 2-1<br>
                08008, Barcelona<br>
                <abbr title="Phone">M:</abbr> +34 615 248 985<br>
                <abbr title="Phone">T:</abbr> +34 934 673 778<br>
            </address>

            <address>
                <strong>邮件地址</strong><br>
                <a href="mailto:info@businesschina.es">info@businesschina.es</a>
            </address>

        </div>
        <div class="col-sm-12 col-md-6 contact-address">
            <a href="#">
                <img src="resources/images/mapalocalizacion.jpg" class="contact-map img-responsive"/>
            </a>
        </div>
    </div>
</div>