<div class="container-fluid">
    <div class="row jumbotron-image-wrapper" id="home-1">
        <a href="javascript:void(0)" ng-click="scrollTo('home-2')">
            <img src="resources/images/fondo_sn_home.jpg" class="img-responsive jumbotron-image"/>
        </a>
    </div>
    <div class="row jumbotron-image-wrapper" id="home-2">
        <a href="javascript:void(0)" ng-click="scrollTo('home-3')">
            <img src="resources/images/fondoiammbp.jpg" class="img-responsive jumbotron-image"/>
            <img src="resources/images/logoiammbp.png" class="img-responsive" 
                 style="position: absolute;
                 top: 0;
                 margin: 15% 10%;
                 left: 0;
                 width: 80%;
                 height: 50%;"
                 />
        </a>
    </div>
    <div class="row jumbotron-image-wrapper" id="home-3">
        <img src="resources/images/mbp2home.jpg" class="img-responsive jumbotron-image"/>
        <a href="#/academy" ng-click="changeName('足球学院')" style="position: absolute;
           top: 27%;
           left: 15.2%;
           height: 50%;
           width: 18%;">
            <img src="resources/images/novacio.gif" class="img-responsive" style="opacity: 0"/>
            <div class="text-center my-text" style="position: absolute;left:33%;">足球学院</div>
        </a>
                <a href="#/coach" ng-click="changeName('教练学校')" style="position: absolute;
           top: 27%;
           right: 15.2%;
           height: 50%;
           width: 18%;">
            <img src="resources/images/novacio.gif" class="img-responsive" style="opacity: 0"/>
            <div class="text-center my-text" style="right: 38%;">教练学校</div>
        </a>
        <a href="javascript:void(0)" ng-click="scrollTo('home-1')"style="position: absolute;
           right: 8.5%;
           height: 4%;
           width: 2.5%;
           bottom: 6%;">
            <img src="resources/images/novacio.gif" class="img-responsive" style="opacity: 0"/>
        </a>
    </div>

</div>