/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'Ubuntu-Medium';
    src: url('original_Ubuntu-M.eot?#iefix') format('embedded-opentype'), 
         url('original_Ubuntu-M.woff') format('woff'),
         url('original_Ubuntu-M.ttf') format('truetype'),
         url('original_Ubuntu-M.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}